.skin-json {
	&-overlay {
		position: fixed;
		z-index: 1000;
		right: 8px;
		bottom: 8px;
		display: flex;
		flex-direction: row-reverse;
		gap: 8px;

		// This is temporary
		> div {
			display: grid;
			width: 40px;
			height: 40px;
			cursor: pointer;
			font-size: 0.7em;
			place-content: center;
			user-select: none;
		}
	}

	&-toggle {
		background-color: #d33; // WMUI Red 50
		color: #fff;
		text-transform: uppercase;

		&--on {
			background-color: #00af89; // WMUI Green 50
			color: #fff;
		}
	}

	&-score {
		position: relative;

		&-high {
			background-color: #00af89; // WMUI Green 50
			color: #fff;
		}

		&-med {
			background-color: #fc3; // WMUI Yellow 50
			color: #000;
		}

		&-low {
			background-color: #d33; // WMUI Red 50
			color: #fff;
		}

		// Popup
		&-info {
			position: absolute;
			right: 0;
			bottom: 100%;
			display: none;
			width: 200px;
			padding: 8px;
			margin-bottom: 8px;
			background: inherit;
			text-align: left;
		}

		&:hover &-info {
			display: block;
		}
	}

	// Hide SkinJSON elements
	&--hidden {
		.skin-json {
			&-score,
			&-validation-element {
				display: none;
			}
		}
	}
}
